.navigation{
    background: /*#ff5e57 #786fa6*/rgb(9, 181, 224);
    color: white;
    width: 100%;
    margin: 15px;
    margin-top : 5px;
    margin-bottom: 0px;
    border-radius: 5px;
}
.white{
    color: white;
}
.sbtn{
    background: #ffeb6a;
    color: black;
    border: none;
    transition: 0.2s ease-in-out;
}
.sbtn:hover{
    background: #f5db35;
    color: black;
    border: none;
}