.navigation{
    background: /*#ff5e57 #786fa6rgb(9, 181, 224) #dfe6e9*/#b2bec3;
    width: 100%;
    margin-top : 5px;
    margin-bottom: 0px;
    border-radius: 5px;
}
.search{
    width: 200px;
}
.sbtn{
    background: #ffeb6a;
    color: black;
    border: none;
    transition: 0.2s ease-in-out;
}
.sbtn:hover{
    background: #f5db35;
    color: black;
    border: none;
}
.navbar-brand{
    color: black;
}
.ss{
    margin-left: 5px;
}
.greet{
    margin-top: 3px;
}
.sign{
    margin-left: 5px;
}
.user{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.favimg{
    margin-right: 10px;
}